<footer class="blog-footer">
    <p><a href="https://www.diglib.org/">DLF</a> is a program of <a href="https://www.clir.org/">CLIR</a></p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>