<header class=" container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{{ '/' | url }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="me-2" src="{{ '/assets/images/DLF_logo_export.png' | url }}" height="32" alt="DLF Logo">
        <span class="fs-4 pt-2">{{ metadata.title }}</span>
    </a>
</header>

<header>
    <div class="container mb-4">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
            <div class="col-md-6 px-0">
                <h1 class="display-4 font-italic">
                    Forum 2016
                </h1>
                <p class="lead my-3">Archive of the DLF Forum held in Milwaukee, Wisconsin, November 7-9, 2016.</p>
            </div>
        </div>
    </div>
</header>