---
title: Happy Hour
layout: base
---

<p>Please join us for a social gathering for those folks interested in digital libraries, digital humanities, and digital pedagogy. The happy hour is hosted by DLF’s <a href="https://www.diglib.org/groups/digital-library-pedagogy/">Digital Library Pedagogy group</a>, <a href="http://acrl.ala.org/dh/">dh+lib</a>, and the Association of College and Research Libraries’ <a href="http://www.ala.org/acrl/aboutacrl/directoryofleadership/interestgroups/acr-igdh">Digital Humanities Interest Group</a> (with local hosts Eleanor Dickson, Elizabeth Kelly, Thomas Padilla, and Hannah Scates Kettler).</p>
<h4>Details</h4>
<p>
    <strong>When:</strong> November 8, 2016, starting at 5:30pm<br>
    <strong>Where:</strong>&nbsp;<a href="https://42lounge.com/">42 Lounge</a>, 326 E Mason St</p>
<p>Questions? Find us on Twitter: <a href=" https://twitter.com/elliedickson?lang=en">@EllieDickson</a>, <a href=" https://twitter.com/ElizabethJelly">@ElizabethJelly</a>, <a href=" https://twitter.com/thomasgpadilla">@thomasgpadilla</a>, <a href=" https://twitter.com/hskettler">@hskettler</a></p>

<p>All are welcome, no registration required. Hope to see you there!</p>