<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<style>
			.jumbotron {
				{%- set bg = image | default( metadata.image ) -%}

				background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ bg | url }}");

				/* Set a specific height */
				height: 50%;

				/* Position and center the image to scale nicely on all screens */
				background-position: 50% 25%;
				background-repeat: no-repeat;
				background-size: cover;
				position: relative;
			}
		</style>
	</head>
	<body class="bg-burgundy">
		<button type="button" class="btn btn-danger btn-lg" id="btn-back-to-top">
      	<i class="bi bi-arrow-up"></i>
    </button>
		<div class="container bg-white">
			{% include 'header.njk' %}

			<main role="main" class="container bg-white">
				<div class="row p-3 mt-3">
					<div class="col-md-8">
						<h2 class='text-muted'>{{title}}</h2>
						{{ content | safe }}
					</div>
					<aside class="col-md-4">
						<div class="position-sticky" style="top: 2rem;">

							<div class="p-4 my-4 box">
								<link href="/pagefind/pagefind-ui.css" rel="stylesheet"/>
								<script src="/pagefind/pagefind-ui.js"></script>
								<div id="search"></div>
								<script>
									window.addEventListener('DOMContentLoaded', (event) => {
										new PagefindUI({element: '#search', showSubResults: true})
									})
								</script>
							</div>
							<div class="p-3">
								{% include 'navigation.njk' %}
							</div>

							{# <div class="p-3">
								<h4>Sign up for Forum News</h4>
								<p><a href="http://eepurl.com/baReNX">Subscribe</a> to our DLF Forum news mailing list. We will never share your information.</p>
							</div> 
							<div class="p-3">
								{% include 'planning-committee.njk' %}
							</div>#}
							<div class="p-3">
								<h4>Forum Tweets</h4>
								<p>Use the hash tag <a href="http://twitter.com/#%21/search/realtime/%23dlfforum">#dlfforum</a> to tweet about the DLF Forum!</p>

								<p>
									<a href="https://twitter.com/search?q=%23dlfforum+OR+%23dlforum+OR+%23dlffforum+OR+%23dlfforum2013+OR+%23dlf2013">Tweets about DLF Forum</a>
								</p>
							</div>
						</div>
					</aside>
				</div>
			</main>
			{% include 'footer.njk' %}
		</div>
		<script type="module" src="{{ '/assets/js/main.js' | url }}"></script>
	</body>
</html>