---
title: 'Call for Proposals: DLF Liberal Arts Colleges Pre-Conference (#dlfLAC) 2016'
layout: base
---

<p>
    This year’s <a href="https://forum2016.diglib.org">DLF Forum</a>
    in Milwaukee, WI will include a one-day pre-conference specifically for liberal arts colleges, to be held on November 6.</p>
<p>
    The <a href="/dlflac/">DLF Liberal Arts Colleges Pre-Conference (<b>#dlfLAC</b>)</a>
    will be an opportunity for those of us working with digital libraries and digital scholarship in liberal arts colleges to work closely together, in the spirit of the liberal arts seminar, to consider the issues and opportunities unique to us. How does your project or approach take advantage of the liberal arts environment, or respond to its limitations?
</p>

<p>
    We invite proposals for panels, presentations, hands-on workshops, make-hack-play sessions, and dork shorts that foster conversation, connections, and provocation at the intersection of digital libraries and the liberal arts.
</p>

<p>
    The pre-conference will operate under the DLF Forum’s <a href="https://www.diglib.org/about/code-of-conduct/">Code of Conduct</a>. Separate calls are being issued for the <a href="/cfp/">
        <i>2016 DLF Forum</i>
    </a> (7-9 November) and <a href="/ndsa-digipres16/">
        <i>Digital Preservation 2016</i>
    </a> (9-10 November), the annual conference of the National Digital Stewardship Alliance (<a href="http://ndsa.org/">NDSA</a>)—all happening in the same location: <a href="/">https://forum2016.diglib.org</a>
</p>
<p>
    <b>Session Types:</b>
</p>
<ul>
    <li>
        <b>Presentation (20 minutes) or Panel (60 minutes): </b>
        Presentations are allocated 20 minutes and organized panels with 3 or more speakers will be given a dedicated 60-minute session. Panel organizers are especially encouraged to include as diverse an array of perspectives and voices as possible. Presentation speakers should reserve 5 minutes and panels 15 minutes for Q&amp;A, discussion, and debate.</li>
    <li>
        <b>Hands-On Workshop (30 or 60 minutes): </b>
        Single or multiple presenters lead interactive session involving hands-on learning and collaboration. Proposal descriptions for hands-on workshops must specify learning outcomes for participants.</li>
    <li>
        <b>
            <b>Make-Hack-Play Session (2 or 4 hours): </b>
            Numerous collaborators meet to engage in solving a problem framed by session facilitator(s).</b>
    </li>
    <li>
        <b>Dork Shorts (2–3 minutes): </b>
        Presenters discuss current or upcoming projects, demonstrate new tools, or call for collaborators.</li>
</ul>
<p>
    We’re also open to sessions that don’t fit into these categories; please submit under the category closest to your proposal and leave us a note.</p>
<p>
    <b>Proposal Submission Guidelines:</b>
</p>
<p>
    Complete proposals should be submitted using the online form accessible from <a href="https://conftool.pro/dlf2016/">https://conftool.pro/dlf2016/</a>
    
     by 
    <b>11:59 PT on May <del>15</del> 23, 2016</b>
    . Proposals must specify a title, session type, and presenters and include a proposal description (maximum 250 words; 500 words for panels) as well as a proposal abstract (maximum 50 words).</p>
<p>
    You will hear about your 
    <b>proposal status by late June</b>
    .</p>
<p>
    The 
    <a href="/dlflac">
        2016 DLF Liberal Arts Colleges Preconference</a>
     will be held November 6, 2016 in Milwaukee, WI, at the Pfister Hotel. The 
    <a href="/2016forum/">
        2016 DLF Forum</a>
     will be held November 7–9, followed by 
    <a href="/ndsa-digipres16/">
        <i>
            Digital Preservation 2016</i>
    </a>
     on November 9–10.</p>
<p>
    <b>US Presidential Election Notice:</b>
</p>
<p>
    Many participants staying on for the DLF Forum will want to 
    <b>plan ahead</b>
     for early/absentee voting in the 2016 US Presidential Election. Full, state-by-state nonpartisan ballot information and important voter deadlines are available here: 
    <a href="/absentee-voting/">
        https://forum2016.diglib.org/absentee</a>. Vote early and join us to watch the election returns in Milwaukee!</p>