---
title: Forum Planning Committee
layout: base
eleventyNavigation:
  key: Forum Planning Committee
  order: 8
---

<p>It was wonderful to have the biggest response yet to our call for Forum Planning Committee volunteers! The following people are serving on some combination of our Program, Inclusivity, Social, Sponsorship, Scholarships, and Local planning subcommittees. Thank you all — and more good folks, in untold ways– for helping to shape the DLF Forum 2016 with your time, energy, and expertise.</p>

<h4>2016 Forum Planning Committee Volunteers:</h4>

<table class="table">
    <tbody>
        <tr>
            <th>Volunteer</th>
            <th>Affiliation</th>
        </tr>
        <tr>
            <td>Laurie Allen</td>
            <td>University of Pennsylvania</td>
        </tr>
        <tr>
            <td>Rachel Appel</td>
            <td>Bryn Mawr College</td>
        </tr>
        <tr>
            <td>Cathy Aster</td>
            <td>Stanford University</td>
        </tr>
        <tr>
            <td>Courtney Becks</td>
            <td>University of Wisconsin-Madison</td>
        </tr>
        <tr>
            <td>Amy Bocko</td>
            <td>Emerson College</td>
        </tr>
        <tr>
            <td>Cindy Boeke</td>
            <td>Southern Methodist University</td>
        </tr>
        <tr>
            <td>Amy Buckland</td>
            <td>University of Chicago</td>
        </tr>
        <tr>
            <td>Kevin Butterfield</td>
            <td>University of Richmond</td>
        </tr>
        <tr>
            <td>Jonathan Cain</td>
            <td>University of Oregon</td>
        </tr>
        <tr>
            <td>Laura Capell</td>
            <td>University of Miami</td>
        </tr>
        <tr>
            <td>Dawn Childress</td>
            <td>UCLA Library</td>
        </tr>
        <tr>
            <td>Shannon Davis</td>
            <td>Washington University in St. Louis</td>
        </tr>
        <tr>
            <td>Rachel Deblinger</td>
            <td>UC Santa Cruz</td>
        </tr>
        <tr>
            <td>Eleanor Dickson</td>
            <td>University of Illinois</td>
        </tr>
        <tr>
            <td>Amanda French</td>
            <td>Virginia Tech</td>
        </tr>
        <tr>
            <td>Anne Gaynor</td>
            <td>University of Virginia Library</td>
        </tr>
        <tr>
            <td>Alexander Gil</td>
            <td>Columbia University</td>
        </tr>
        <tr>
            <td>Ann Hanlon</td>
            <td>University of Wisconsin-Milwaukee</td>
        </tr>
        <tr>
            <td>Julie Hardesty</td>
            <td>Indiana University</td>
        </tr>
        <tr>
            <td>Christina Harlow</td>
            <td>Cornell University</td>
        </tr>
        <tr>
            <td>Carrie Johnston</td>
            <td>Bucknell University</td>
        </tr>
        <tr>
            <td>Jasmine Jones</td>
            <td>Smith College</td>
        </tr>
        <tr>
            <td>Julie Kane</td>
            <td>Washington &amp; Lee University</td>
        </tr>
        <tr>
            <td>Carol Kassel</td>
            <td>New York University</td>
        </tr>
        <tr>
            <td>Francis Kayiwa</td>
            <td>Virginia Tech</td>
        </tr>
        <tr>
            <td>Alix Keener</td>
            <td>University of Michigan</td>
        </tr>
        <tr>
            <td>Drew Krewer</td>
            <td>University of Houston</td>
        </tr>
        <tr>
            <td>Brianna Marshall</td>
            <td>University of Wisconsin-Madison</td>
        </tr>
        <tr>
            <td>Patricia Martin</td>
            <td>California Digital Library</td>
        </tr>
        <tr>
            <td>Anna Michelle Martinez-Montavon</td>
            <td>University of Wisconsin-Milwaukee</td>
        </tr>
        <tr>
            <td>Gabrielle Michalek</td>
            <td>Carnegie Mellon University</td>
        </tr>
        <tr>
            <td>Steve Morris</td>
            <td>North Carolina state University Libraries</td>
        </tr>
        <tr>
            <td>Jeremy Myntti</td>
            <td>University of Utah</td>
        </tr>
        <tr>
            <td>Jane Nichols</td>
            <td>Oregon State University Libraries &amp; Press</td>
        </tr>
        <tr>
            <td>Angel David Nieves</td>
            <td>Hamilton College</td>
        </tr>
        <tr>
            <td>Beth Oehlerts</td>
            <td>Colorado State University Libraries</td>
        </tr>
        <tr>
            <td>Erin Pappas</td>
            <td>Georgetown University</td>
        </tr>
        <tr>
            <td>Treshani Perera</td>
            <td>University of Wisconsin-Milwaukee</td>
        </tr>
        <tr>
            <td>Christie Peters</td>
            <td>University of Kentucky</td>
        </tr>
        <tr>
            <td>Cat Phan</td>
            <td>University of Wisconsin-Madison</td>
        </tr>
        <tr>
            <td>Kristen Regina</td>
            <td>Philadelphia Museum of Art</td>
        </tr>
        <tr>
            <td>Michele Reilly</td>
            <td>Central Washington University Brooks Library</td>
        </tr>
        <tr>
            <td>Shilpa Rele</td>
            <td>Loyola Marymount University</td>
        </tr>
        <tr>
            <td>Matt Roberts</td>
            <td>UC Irvine</td>
        </tr>
        <tr>
            <td>Barbara Rockenbach</td>
            <td>Columbia University</td>
        </tr>
        <tr>
            <td>Jason Ronallo</td>
            <td>North Carolina state University Libraries</td>
        </tr>
        <tr>
            <td>Doralyn Rossman</td>
            <td>Montana State University</td>
        </tr>
        <tr>
            <td>Chelcie Rowell</td>
            <td>Wake Forest University</td>
        </tr>
        <tr>
            <td>Beth Russell</td>
            <td>New York University Abu Dhabi</td>
        </tr>
        <tr>
            <td>John Russell</td>
            <td>Penn State University</td>
        </tr>
        <tr>
            <td>Hannah Scates Kettler</td>
            <td>University of Iowa</td>
        </tr>
        <tr>
            <td>Yasmeen Shorish</td>
            <td>James Madison University</td>
        </tr>
        <tr>
            <td>Daniel Sifton</td>
            <td>Vancouver Island University</td>
        </tr>
        <tr>
            <td>Jason Simons</td>
            <td>Hamilton College</td>
        </tr>
        <tr>
            <td>Laura Smart</td>
            <td>UC Irvine</td>
        </tr>
        <tr>
            <td>Todd Suomela</td>
            <td>University of Alberta</td>
        </tr>
        <tr>
            <td>Krystal Thomas</td>
            <td>Florida State University</td>
        </tr>
        <tr>
            <td>Stewart Varner</td>
            <td>University of North Carolina</td>
        </tr>
        <tr>
            <td>Tatjana Versaggi</td>
            <td>SUNY Albany</td>
        </tr>
        <tr>
            <td>Amanda Visconti</td>
            <td>Purdue University Libraries</td>
        </tr>
        <tr>
            <td>Cecily Walker</td>
            <td>Vancouver Public Library</td>
        </tr>
        <tr>
            <td>Helene Williams</td>
            <td>University of Washington iSchool</td>
        </tr>
        <tr>
            <td>Liz Woolcott</td>
            <td>Utah State University</td>
        </tr>
        <tr>
            <td>Cynthia York</td>
            <td>Johns Hopkins University</td>
        </tr>
        <tr>
            <td>Frederick Zarndt</td>
            <td>Global Connexions / Digital Divide Data</td>
        </tr>
    </tbody>
</table>