---
title: U.S. Presidential Election
layout: base
---

<p>The United States presidential election of 2016 falls on Tuesday, November 8. We know that the civic duty of voting is important to our attendees, and we strongly encourage you to plan ahead for absentee voting as you make your Forum plans. If this is your first time voting absentee, we recommend the information and services provided by VOTE.org (formerly <a href="http://www.longdistancevoter.org/">Long Distance Voter</a>), a non-partisan 501(3)(c) organization devoted to leveraging technology to remove barriers to voting.</p>

<div class="ro">
    <div class="col-10">
        <p>
            <a href="http://www.longdistancevoter.org/absentee_ballots#.Vqpn5ZMrIUY">
                <strong>Get an absentee ballot</strong><br>
            </a>(Fill out a quick SSL-encrypted web form that generates an absentee ballot request for you to print and mail)</p>
        <p>
            <strong>
                <a href="http://www.longdistancevoter.org/amiregisteredtovote#.VqpnoJMrIUY">Check your voter registration status</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="http://www.longdistancevoter.org/register-to-vote">Register to vote</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="http://www.longdistancevoter.org/early_voting_calendar#.VqpoF5MrIUY">Early voting (in-person absentee) calendar by state</a>
            </strong>
        </p>
        <p>
            <strong>
                <a href="https://www.vote.org/absentee-ballot-deadlines/">Absentee ballot deadlines by state</a>
            </strong>
        </p>
        <p>
            If you’re curious, you can learn more about Long Distance Voter’s mission and team <a href="http://www.longdistancevoter.org/about#.VqpokpMrIUY">here</a>.
        </p>
    </div>
    <div class="col-2">
        <a href="http://www.longdistancevoter.org/">
            {% image 'assets/images/vote-absentee.png', 'Vote Absentee' %}
        </a>
    </div>
</div>