---
title: Affiliated Events
layout: base
---

<div class="mb-5">
    {% image 'assets/images/1280px-Leisure_boating_Milwaukee_Wisconsin.jpg', 'Boating', 'img-fluid' %}
</div>

<p>
    This year, we’re proud to be hosting a number of pre- and post-Forum affiliated events, including a second DLF Liberal Arts Colleges Pre-Conference and the revival of the National Digital Stewardship Alliance’s annual conference and meeting, Digital Preservation 2016.
</p>

<p>Look here for more details and registration links as we have them!</p>
<p>
    <strong>
        <a href="/dlflac/">DLF Liberal Arts Colleges Pre-Conference</a>
    </strong><br>
6 November 2016 (ca.9am-5pm)<br>
Pfister Hotel, Milwaukee<br>
$50<br>
    <em>registration closed</em>
</p>
<p>
    <strong>Hydra Project meeting</strong><br>
6 November 2016<br>
Pfister Hotel, Milwaukee<br>
    <em>limited to individuals who work for Hydra Partner organizations (<a href="https://wiki.duraspace.org/display/hydra/November+2016+Hydra+Partner+Meeting">sign up here</a>, max:16)</em>
</p>
<p>
    <strong>Partnership Meeting, Organized by Ex Libris<br>
    </strong>8 November 2016 (1:30-3:30pm)<br>
Hotel Metro Milwaukee<br>
411 E Mason St, Milwaukee, Room: Zen (7th floor)<br>
    <em>invite only&nbsp;–</em>&nbsp;please contact <a href="mailto:custdev@exlibrisgroup.com">custdev@exlibrisgroup.com</a> for additional details</p>
<p>
    <strong>
        <a href="/affiliated-events/happy-hour-dlf2016/">Happy Hour</a><br>
    </strong>Hosted by DLF’s <a href="https://www.diglib.org/groups/digital-library-pedagogy/">Digital Library Pedagogy group</a>, <a href="http://acrl.ala.org/dh/">dh+lib</a>, and ACRL’s <a href="http://www.ala.org/acrl/aboutacrl/directoryofleadership/interestgroups/acr-igdh">Digital Humanities Interest Group</a><br>
8 November 2016 (starting at 5:30pm)<br>
    <a href="https://42lounge.com/">42 Lounge</a>, 326 E Mason St<br>
    <em>all are welcome, no registration required</em>
</p>
<p>
    <strong>Self-Organized Dine-Arounds</strong><br>
Tuesday evening, 8 November 2016 (mostly)<br>
    <a href="https://docs.google.com/spreadsheets/d/1DyIY9SobSV_h6Ys5Gl18utBY5eYpT4Y2Iw8kwuHaHcU/edit?gid=0#gid=0">Sign up or create an event.</a>
</p>
<p>
    <strong>International Image Interoperability Framework (IIIF)&nbsp;Dinner</strong><br>
8 November 2016 (Meet in the lobby of the Pfister at 6:30pm)<br>
    <a href="https://docs.google.com/document/d/1KZzKc37RvXPWkR9SOcgnumzFXlymSXits0N2hL4L7mQ/edit">Sign up here.</a>
</p>
<p>
    <strong>
        <a href="http://go-dh.github.io/mincomp/">Minimal Computing Group</a> Dinner</strong><br>
Hosted by Meredith Levin, Dawn Childress, Stewart Warner, Kim Martin and Alex Gil<br>
8 November 2016 (starting at 7:00pm)<br>
    <a href="http://www.alem-ethiopianvillage.com/">Alem Ethiopian Village</a><br>
307 East Wisconsin Ave. | Milwaukee, WI 53202 | 414-224-5324<br>
    <em>all are welcome, no registration required</em>
</p>
<p>
    <strong>
        <a href="/ally-skills-workshop/">DLF Ally Skills Workshop</a>
    </strong><br>
9&nbsp;November 2016 (between the conferences, 1-3pm)<br>
Pfister Hotel, Milwaukee<br>
$50 – <a href="https://www.conftool.pro/dlf2016/">Register</a>
</p>
<p>
    <strong>NDSA Coordinating Committee Meeting</strong><br>
9 November 2016 (between the conferences, 1-3pm)<br>
Pfister Hotel, Milwaukee<br>
    <em>private event</em>
</p>
<p>
    <strong>
        <a href="/ndsa-digipres16/">Digital Preservation 2016</a>
    </strong><br>
Organized by the <a href="https://ndsa.org/">National Digital Stewardship Alliance</a><br>
9-10 November 2016 (ca.3pm Wednesday-ca.5pm Thursday)<br>
Pfister Hotel, Milwaukee<br>
$200 ($150 student rate, while they last!)<br>
    <em>registration closed&nbsp;</em>
</p>
<p>
    <strong>
        <a href="/taiga-forum/">Taiga Forum</a>
    </strong><br>
9&nbsp;November 2016 (between the conferences, 1-3pm)<br>
Pfister Hotel, Milwaukee<br>
$50 – <a href="https://web.archive.org/web/20170708044835/https://www.conftool.pro/dlf2016/">Register</a>
</p>
<p>
    <strong>BitCurator Consortium / Library Publishing Coalition / MetaArchive Cooperative Mixer</strong><br>
9 November, 2016 (8pm)<br>
    <a href="https://web.archive.org/web/20170708044835/http://landmarklanes.com/">Landmark Lanes</a><br>
2220 N Farwell Ave, Milwaukee, WI 53202<br>
    <a href="https://web.archive.org/web/20170708044835/https://docs.google.com/forms/d/e/1FAIpQLSfbSdYIKof2OBIKmVlAhAq-s5Np9fwVU3OBLBKf5b498KrI7A/viewform?c=0&amp;w=1">Please RSVP</a>
</p>
<p>
    <strong>METS Editorial Board Meeting</strong><br>
10 November 2016 (tentatively 9am-5pm)<br>
Pfister Hotel, Milwaukee<br>
    <em>private event</em>
</p>