---
title: Ally Skills Workshop
layout: base
---

<p>DLF’s <a href="https://www.diglib.org/groups/pmg/">Project Managers group</a> is&nbsp;proud to sponsor an Ally Skills Workshop at this year’s Forum.</p>

<div class="row">
    <div class="col-6">
        {% image 'assets/images/juggling-project-managers-2.png', 'DLF Project Managers', 'img-fluid' %}
    </div>
    <div class="col-6">
        <p>Ally Skills Workshops teach simple, everyday ways to support women in their workplaces and communities. Participants learn techniques that work at the office, at conferences, and online. The skills taught are relevant everywhere, including those particularly relevant to open technology and culture communities. At the end of the workshop, participants will feel more confident in speaking up to support women, be more aware of the challenges facing women in their workplaces and communities, and have closer relationships with the other participants.</p>

        <p>See a <a href="https://adainitiative.org/what-we-do/workshops-and-training/" target="_blank">fuller description</a> on the Ada Initiative website. </p>

        <p>Everyone is welcome to register for our event, although places are limited.</p>
    </div>
</div>

<h2>Details</h2>
<p><strong>Workshop facilitators:</strong> Bess Sadler (Stanford University Libraries) and Mark Bussey (Data Curation Experts)</p>

<p><strong>Date and time:</strong> Early afternoon, Wednesday, 9 November 2016. (The workshop will be held between the close of the DLF Forum and start of Digital Preservation 2016.)</p>

<p><strong>Registration:</strong> $50 (depending on timing, this will include either lunch or an afternoon snack). Register <a href="/registration/">here</a>.</p>

<p>Ally Skills Workshops were a program of the <a href="https://adainitiative.org/" target="_blank">Ada Initiative</a>, which offered official training to facilitators like ours, in order to continue and expand its tradition of supporting women in open technology and culture.</p>