---
title: Guide to Creating Accessible Presentations
layout: base
eleventyNavigation:
  key: Guide to Creating Accessible Presentations
  order: 19
---

<p>One of DLF’s strengths is that its membership &amp; Forums are inclusive sites for exchange. Our members participate in a variety of cultural and disciplinary communities and bring with them to the Forum many different professional and personal experiences and learning styles. To help you effectively engage with this diverse and dynamic community, we offer these practical recommendations for creating accessible presentations. In the words of the <a href="http://disstudies.org/conferences/accessible-presentations">Society for Disability Studies</a>, we invite you to “think about issues of privilege and injustice and to reflect on the inclusions and exclusions” that may exist in your audience as you prepare Forum sessions.</p>
<h2>Delivering Presentations &amp; Facilitating Discussion</h2>
<ul>
    <li>Speak clearly, loudly, and at a moderate rate. Use pauses to allow for processing time.</li>
    <li>Minimize the use of jargon and acronyms, or clearly explain them in your talk.</li>
    <li>Repeat audience questions into a mic, if need be.</li>
    <li>Provide clear verbal descriptions of visual content, such as images, charts, and videos. Imagine delivering your presentation on the radio.</li>
    <li>Provide captioning of films and video clips.</li>
    <li>Provide a textual version of presentations either in slide notes or in a document accompanying slide decks.</li>
    <li>Make presentation materials available in advance so that participants with different needs can follow along on their own devices. We encourage use of DLF’s <a href="https://osf.io/view/dlf2016/">dedicated repository</a> for 2016 Forum presentations.</li>
    <li>Refrain from wearing perfume, cologne, or other strongly scented products.</li>
</ul>
<h2>Designing Presentation Materials</h2>
<p>Design presentation materials for accessibility when presenting and when sharing materials to <a href="https://osf.io/view/dlf2016">DLF Forum &amp; Digital Preservation 2016 Posters &amp; Talks</a> on the <a href="https://osf.io/">Open Science Framework</a>.</p>
<h3>Make Text Easy to See</h3>
<ul>
    <li>Provide minimal text on each slide (only a few points).</li>
    <li>Maintain a large font size. Start with 28–32 point font. Design for people seated both close to and far from a projected screen and for people reading on screens small and large.</li>
    <li>Select fonts for readability. Often sans serif typefaces are more readable on screens.</li>
    <li>Avoid all caps.</li>
    <li>Use a high contrast color scheme. To check for good contrast, use a <a href="http://contrastchecker.com/">contrast checker</a>.</li>
</ul>
<h3>Provide Clear Text Alternatives to Non-Textual Content</h3>
<ul>
    <li>Provide quality alt text for images. Seek out recommendations for <a href="http://www.slideshare.net/whitneyq/writing-great-alt-text-38937551">writing great alt text</a>. Alt text serves different functions for different types of informational content. Alt text should:
<ul>
            <li>Identify textual content. For example, hyperlink meaningful text, such as the title of the linked resource, rather than the raw URL or opaque phrases like “Click here.”</li>
            <li>Explain visual content, such as images, charts, and videos.</li>
            <li>Describe aural content, such as audio and video.</li>
        </ul>
    </li>
    <li>Use built-in options for tables, charts, and data visualizations, if possible, rather than importing as an image. Otherwise, provide text alternatives through other means:
<ul>
            <li>Provide explanatory text in the slide notes.</li>
            <li>Hide explanatory text in a text box underneath the inserted image.</li>
            <li>Explain the image in visible text.</li>
        </ul>
    </li>
    <li>If you insert data as an image, use alt text to tell the reader what the image is and where it is located.</li>
</ul>
<h3>Design Your Content to Be Interpreted by Assistive Technology</h3>
<ul>
    <li>Use a templated slide format. For example, rather than adding text boxes to existing layouts, add new content placeholders to the slide master.</li>
    <li>Customize the reading order of elements added to slides. By default, applications such as PowerPoint and Google Slides arrange elements in the order in which they were added to the slide. Often this order does not make sense to a reader accessing presentation content through assistive technology. Arrange slide elements in an order that makes sense when being read by a screen reader.</li>
    <li>When in doubt, use built-in formatting options for charts, bullet points, shapes, etc.</li>
</ul>
<h3>Perform an Accessibility Check</h3>
<ul>
    <li>Recent versions of Microsoft Office provide an accessibility checker in the ‘Tools’ menu under ‘Check Accessibility.’</li>
    <li>Recent versions of Adobe applications provide an accessibility checker in the ‘Tools’ menu under ‘Accessibility.’ In the secondary toolbar click on ‘Full Check.’</li>
    <li>Google Apps do not have built-in accessibility checkers; however, you could download materials created with Google Apps as Microsoft Office documents or PDFs in order to check accessibility of your presentation materials as offline documents.</li>
</ul>
<h2>Additional Resources</h2>
<h3>Broad frameworks for creating accessible presentations</h3>
<ul>
    <li>
        <a href="http://www.astr.org/general/custom.asp?page=16_Accessibility">Accessibility at the 2016 American Society for Theatre Research &amp; Theatre Library Association Conference</a>
    </li>
    <li>
        <a href="http://2016.ifla.org/wp-content/uploads/sites/2/2016/01/wbu-visual-presentations-guidelines-summary.pdf">How to make visual presentations accessible to audience members with print impairments</a>, adapted for the International Federation of Library Associations and Institutions (IFLA)  by Minna von Zansen and Jenny Craven from the World Blind Union Guidelines</li>
    <li>
        <a href="http://uxpamagazine.org/make-your-presentations-accessible">Make Your Presentations Accessible: Seven Easy Steps</a> by Whitney Quesenbery</li>
</ul>
<h3>Guidance specific to presentation software</h3>
<ul>
    <li>
        <a href="http://adod.idrc.ocad.ca/">Accessible Digital Office Document (ADOD) Project</a> (step-by-step guidelines for creating accessible materials in a range of commonly used software applications)</li>
    <li>
        <a href="http://webaim.org/techniques/word">Microsoft Word: Creating Accessible Documents</a> by WebAIM (Web Accessibility in Mind)</li>
    <li>
        <a href="http://webaim.org/techniques/acrobat">PDF Accessibility</a> by WebAIM (Web Accessibility in Mind)</li>
    <li>
        <a href="http://webaim.org/techniques/powerpoint">PowerPoint Accessibility</a> by WebAIM (Web Accessibility in Mind)</li>
    <li>
        <a href="http://www.dor.ca.gov/disabilityaccessinfo/das-docs/7-steps-2-create-accessible-powerpoint-slideshow.pdf">Seven Steps to Creating an Accessible PowerPoint Slideshow</a> by Disability Access Services of California’s Department of Rehabilitation</li>
</ul>
<h2>Acknowledgements</h2>
<p>This guide distills many excellent existing resources on creating accessible meetings and events into a succinct set of recommendations for Forum presenters to follow in order to create an inclusive experience for Forum participants. It was created in October 2016 by a subgroup of the 2016 DLF Forum Inclusivity Committee:</p>
<ul>
    <li>
        <a href="mailto:dicksone@illinois.edu">Eleanor Dickson</a>, Digital Humanities Specialist, HathiTrust Research Center</li>
    <li>
        <a href="mailto:rowellcj@wfu.edu">Chelcie Juliet Rowell</a>, Digital Initiatives Librarian, Wake Forest University</li>
    <li>
        <a href="mailto:shorisyl@jmu.edu">Yasmeen L. Shorish</a>, Data Services Coordinator Librarian, James Madison University</li>
</ul>
<p>We are especially indebted to Whitney Quesenbery’s <a href="http://uxpamagazine.org/make-your-presentations-accessible">Make Your Presentations Accessible: Seven Easy Steps</a> and the <a href="http://www.astr.org/general/custom.asp?page=16_Accessibility">Accessibility at the 2016 American Society for Theatre Research &amp; Theatre Library Association Conference</a> guide. The clarity and comprehensiveness of these recommendations were strengthened by the input of Bethany Nowviskie and members of the broader Inclusivity Committee.</p>
<p></p>
<p>To offer feedback, please comment on the <a href="https://docs.google.com/document/d/1HhJjPfhxfRmcIs6FmZyBQqFzLln8acGYP0MQlnJ1_-o/edit">working document</a> or contact <a href="mailto:info@diglib.org">info@diglib.org</a>.  </p>