---
title: Hotel & Travel
layout: base
eleventyNavigation:
  key: Hotel & Travel
  order: 7
---
<div class="mb-5">
    {% image 'assets/images/hotel-exteriorawning.jpg', 'Pfister Hotel', 'img-fluid' %}
</div>

<h3>Conference Venue and Dates</h3>
<p>DLF Forum and NDSA Digital Preservation events will be at the Pfister Hotel in Milwaukee, Wisconsin, just blocks from the Milwaukee Art Museum and Lake Michigan.</p>

<p>
    <a href="http://www.thepfisterhotel.com/">The Pfister Hotel</a><br>
    424 E Wisconsin Ave<br>
    Milwaukee, WI 53202
</p>

<p>The DLF Liberal Arts Colleges Pre-Conference will run all day on Sunday, November 6th. The DLF Forum will begin on Monday morning (11/7) and run until early afternoon on Wednesday, November 9th. <a href="https://www.diglib.org/forums/2016forum/ndsa-digipres16/">Digital Preservation 2016</a> begins Wednesday late afternoon/early evening (11/9), and runs through the full following day, November 10th.</p>
<h3>Tips from Locals</h3>
<p>Travel, dining, weather, fun, and helpful services and links! Our local planning committee has created a terrific round-up on <a href="https://www.diglib.org/forums/2016forum/visiting-milwaukee/">Visiting Milwaukee</a>.</p>
<h3>Ride-share/Room-share</h3>
<p>Do you need a room-mate or a ride? Have space to spare, or costs to share? Find or provide information here: <a href="https://goo.gl/cdD6yk">2016 DLF Forum Ride-share/Room-share Spreadsheet</a>.</p>
<p>(Please note: this spreadsheet is meant for informational use only. It is not a DLF-coordinated matching service. You may wish to use the information found there independently. Please be cautious and use common sense when reaching out to strangers, or sharing personal info in a public document!)</p>
<h3>Hotel Bookings</h3>
<p>
    <strong>Update:</strong> As of August 23rd, the Pfister Hotel is <strong>completely sold out</strong>. It may still be worth checking, in case a cancellation has opened up a room, but we also recommend browsing the hotels at <a href="http://www.visitmilwaukee.org/visitors/where-to-stay">Visit Milwaukee</a> for further options.</p>
<p>
    <del>
        Book <strong>
            <a href="https://res.windsurfercrs.com/ibe/details.aspx?propertyid=13974&amp;nights=5&amp;checkin=11/05/2016&amp;group=63T27C">online</a>
        </strong> at the Pfister Hotel or call 1-800-558-8222 and quote “DLF Forum.” Rooms are available from 11/5 (check-in) – 11/11 (check-out) at prices ranging from $175 for a double to $215 for a king suite — <strong>while they last! </strong>
    </del>
</p>

<h3>Travel</h3>

<p>The Pfister Hotel is located in downtown Milwaukee, about nine miles from General Mitchell International Airport. There are several options for <a href="http://www.mitchellairport.com/ground-transportation/">ground transportation</a> from the airport. <a href="http://www.thepfisterhotel.com/downtown-milwaukee-hotel">Parking</a> is available at the Pfister Hotel. If you plan to arrive by car, you may want to view <a href="http://www.thepfisterhotel.com/downtown-milwaukee-hotel">driving directions</a> to the hotel.</p>