---
layout: base
eleventyNavigation:
  key: "Forum Home"
  order: 10
---

<div class="mb-4">
{% image 'assets/images/DLF-Forum-2016-Slider-01.png',
  'DLF Image', 'img-fluid' %}
  </div>

<p>The <strong>2016 DLF Forum</strong> was held in Milwaukee, Wisconsin, from 7-9 November. We also welcomed participants in a second <a href="/dlflac/">DLF Liberal Arts Colleges Pre-Conference</a>, held on 6 November and in <em>
    <a href="http://ndsa.org/meetings/">Digital Preservation 2016</a>
  </em>(9-10 November)<em>,</em> held for the first time in conjunction with the Forum as part of <a href="https://www.diglib.org/digital-library-federation-to-host-national-digital-stewardship-alliance/">NDSA’s move to DLF.</a>
</p>
<p>
  <strong>The <a href="https://dlfforum2016.sched.org/">full program</a> is available to browse, and participants are now adding their presentations to our <a href="https://osf.io/view/dlf2016/">conference repository</a>!</strong>
</p>
<p>The Forum was held at the historic <a href="http://www.thepfisterhotel.com/" target="_blank">Pfister Hotel</a>, just blocks from Lake Michigan, the <a href="http://mam.org/" target="_blank">Milwaukee Art Museum</a>, dining destinations, and nightlife. The hotel has an incredible Victorian art collection, an artist-in-residence program, and a spa. Our local hosts were the <a href="http://www.marquette.edu/library/" target="_blank">Marquette University Raynor Memorial Libraries</a>, <a href="http://uwm.edu/libraries/">University of Wisconsin-Milwaukee Libraries</a>, and the <a href="https://www.library.wisc.edu/">University of Wisconsin-Madison Libraries</a>.</p>
<p>You can stay informed of all the news on future DLF conferences by subscribing to our <a href="http://eepurl.com/baReNX" target="_blank">Forum mailing list</a>, joining <a href="http://lists.clir.org/cgi-bin/wa?SUBED1=DLF-ANNOUNCE&amp;A=1">the DLF listserv</a>, “liking” us <a href="https://www.facebook.com/pages/Digital-Library-Federation/120568318151192">on Facebook</a>, or following us at <a href="http://www.twitter.com/clirdlf">@CLIRDLF</a> on Twitter.</p>

<p>Sponsorship opportunities for the 2016 DLF Forum are also now available. View the <a href="/assets/files/2016_forum_sponsorship_information_july_2015.pdf" target="_blank" rel="noopener">prospectus</a> to find out more about how your organization can support the digital library practitioner community by sponsoring the DLF Forum.</p>