---
title: NDSA's Digital Preservation 2016
layout: base
---
<div class="mb-5">
    {% image 'assets/images/NDSA-Logo-4-color-01.jpg', 'NDSA logo', 'img-fluid' %}
</div>

<p><em><a href="http://ndsa.org/meetings/">Digital Preservation 2016</a></em> is the major meeting and conference of the <a href="http://ndsa.org/">National Digital Stewardship Alliance</a>—open to <a href="http://ndsa.org/members-list/">NDSA members</a> and non-members alike—focusing on digital stewardship and preservation, data curation, and related issues. This year, it will be held at the historic Pfister Hotel in Milwaukee, Wisconsin, 9-10 November 2016, in conjunction with the <a href="/">2016 Digital Library Federation Forum</a> (7-9 November).</p>

<p><strong><a href="/registration/">REGISTRATION</a> closes October 17th!</strong> The conference will run from Wednesday mid-afternoon through Thursday evening, November 9-10.</p>

<p><em>Digital Preservation 2016</em> (<a href="https://twitter.com/search?q=%23digipres16&amp;src=typd">#digipres16</a>) will help to chart future directions for the NDSA, and is expected to be a crucial venue for intellectual exchange, community-building, development of best practices, and national-level agenda-setting in the field.</p>

<h3>The Program</h3>

<p>
    <strong>We are very pleased to announce <a href="https://www.conftool.pro/dlf2016/index.php?page=browseSessions&amp;presentations=show&amp;form_tracks=2">the full program</a> for Digital Preservation 2016!</strong> Browse the <a href="https://www.conftool.pro/dlf2016/sessions.php">programs</a> for the 2016 DLF Forum and Liberal Arts Colleges Pre-Conference here as well.
</p>

<div class="row mb-5">
    <div class="col">
        <figure class="figure">
            {% image "assets/images/bergis1.jpg", 'Bergis Jules', 'img-thumbnail img-fluid' %}
            <figcaption class="figure-caption">Bergis Jules, DigiPres16 keynoter</figcaption>
        </figure>
    </div>
    <div class="col">
        <figure class="figure">
            {% image "assets/images/Screen-Shot-2016-08-15-at-9.54.39-AM.png", 'Allison Druin,', 'img-thumbnail img-fluid' %}
            <figcaption class="figure-caption">Allison Druin, final plenary speaker</figcaption>
        </figure>
    </div>
</div>


<p>The conference will kick off with news from the NDSA, presentation of our annual Innovation Awards, and <a href="https://www.diglib.org/digital-preservation-2016-keynoter-is-bergis-jules/">a keynote talk</a> on “the power and promise of diversity and inclusivity in digital preservation work” by Bergis Jules, University and Political Papers Archivist at the University of California, Riverside library. We’ll close with a <a href="https://www.diglib.org/ndsas-closing-plenary-speaker-is-allison-druin-2/">final plenary talk</a> by Allison Druin, Special Advisor for National Digital Strategy at the NPS, who will take up the conference theme, “building communities of practice,” in the context of “communities of innovation” and her work with America’s National Park Service.</p>
<p>All community presentation submissions were peer-reviewed by NDSA’s volunteer Program Committee (listed below). Presenters were notified in July and are guaranteed a registration slot at the conference. View our CFP (now closed) at the <a href="http://ndsa.org/meetings/">NDSA’s website</a>.</p>
<h3><strong>Sponsors</strong></h3>
<p>We gratefully acknowledge the support of our conference sponsors, the <a href="https://diglib.org/">Digital Library Federation</a> (DLF), <a href="http://dpn.org/">Digital Preservation Network</a> (DPN), and the <a href="http://lipalliance.org/">Legal Information Preservation Alliance</a> (LIPA).</p>

<p>
    <a href="http://dpn.org/">
        {% image 'assets/images/dpn.jpeg', 'DPN Logo', 'img-fluid' %}
    </a>
</p>

<p>
    <a href="https://www.diglib.org/">
        {% image 'assets/images/DLFrev1BL_notag_200.png', 'DLF Logo', 'img-fluid' %}
    </a>
</p>

<p>
    <a href="http://lipalliance.org/">
        {% image 'assets/images/Lipa_logo_cmyk.jpg', 'LIPA: Legal Information Preservation Alliance Logo', 'img-fluid' %}
    </a>
</p>

<p>
    If you or your organization would like to contribute to <em>Digital Preservation 2016</em>, please contact <a href="mailto:lkwasigroch@clir.org">Louisa Kwasigroch</a>.
    </p>

<h3>US Presidential Election Notice:</h3>

<p>
    Attendees arriving early for the DLF Forum (November 7-9) will want to <b>plan ahead</b> for early/absentee voting in the 2016 US Presidential Election. Full, state-by-state nonpartisan ballot information and important voter deadlines are available here: <a href="/absentee-voting/">https://forum2016.diglib.org/absentee-voting/</a>.
    </p>
<h3>Travel and registration</h3>

<p>Registration includes a continental breakfast, hot lunch, coffee breaks, and the NDSA reception.</p>
<ul>
    <li>Regular: $200</li>
    <li>Student rate: $150</li>
</ul>
<p>
    <del datetime="2016-09-01T19:29:25+00:00">
        <a href="/hotel-travel/">Room bookings are available</a> at Milwaukee’s Pfister Hotel now. (We encourage early room reservations!)</del> The Pfister Hotel is now completely booked, but space remains at a variety of other Milwaukee hotels and DLF is hosting a room-share/ride-share exchange that is also open to Digital Preservation 2016 attendees. See information on our <a href="/hotel-travel/">travel page</a>.</p>
<p>Information on registration for the <del datetime="2016-09-01T19:29:25+00:00">DLF Forum</del> (sold out!) and Liberal Arts Colleges Pre-Conference is <a href="/registration/">also available</a>.</p>

<h3><strong>2016 Program Committee</strong></h3>
<ul>
<li>Helen Tibbo, UNC-Chapel Hill (chair)</li>
<li>Nicky Agate, Modern Language Association</li>
<li>Mitch Brodsky, New York Philharmonic</li>
<li>Aaron Collie, Michigan State University</li>
<li>George Coulbourne, Library of Congress</li>
<li>Heidi Dowding, Indiana University</li>
<li>Bonnie Gordon, Rockefeller Archive Center</li>
<li>Carol Kussmann, University of Minnesota</li>
<li>Margaret Maes, Legal Information Preservation Alliance</li>
<li>Jenny Mullins, Dartmouth College</li>
<li>Miranda Nixon, University of Pittsburgh</li>
<li>Bethany Nowviskie, Digital Library Federation (ex officio)</li>
<li>Sibyl Schaefer, UC-San Diego</li>
<li>Frederick Zarndt, Global Connexions</li>
</ul>
