---
title: Registration
layout: base
eleventyNavigation:
  key: Registration
  order: 3
---

{% image 'assets/images/registration-reminder.jpg', 'registration reminder', 'img-fluid' %}

<h3 class="mt-5">Registration is Closed</h3>
<p>
  <strong>DLF Forum</strong> tickets sold out early in August this year, and our waiting list for the event, which was open from August to mid-October, is also now closed. Registration for the <strong>DLF Liberal Arts Colleges Pre-Conference</strong> and <strong>Digital Preservation 2016</strong> closed on October 17th.
</p>
<p>
  <strong>SPACES DO REMAIN, </strong>however, for attendance at the <strong>
    <a href="/taiga-forum/">Taiga Forum</a> </strong>and <strong>
    <a href="/ally-skills-workshop/">DLF Ally Skills Workshop</a>! </strong>Register by October 31st!</p>
<h3>About the Forum</h3>
<p>The 2016 DLF Forum will be held November 7-9, 2016, in Milwaukee, Wisconsin, with additional events on November 6th and 9th-10th.</p>
<p>
  <a href="https://www.conftool.pro/dlf2016/">Registration</a> for <a href="/affiliated-events/">affiliated events</a> (like <a href="https://web.archive.org/web/20170610011101/http://ndsa.org/meetings/">Digital Preservation 2016</a> and the DLF <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/dlflac/">Liberal Arts Colleges Preconference</a>) is open now, and the <a href="https://web.archive.org/web/20170610011101/https://www.conftool.pro/dlf2016/sessions.php">full program</a> is available!</p>
<p>
  <a href="https://web.archive.org/web/20170610011101/http://diglib.us7.list-manage.com/subscribe?u=eaecb8b1da252a4794c594ff1&amp;id=556a33972b">Sign up</a> for the Forum mailing list to keep up on all the news. Forum tickets and rooms in the <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/hotel-travel/">conference hotel</a> have sold out very early in recent years, so we encourage you to make your plans as soon as possible! (and get on our <a href="https://web.archive.org/web/20170610011101/https://goo.gl/iLfRkY">waiting list</a>, if you try to register and find the Forum has sold out).</p>
<h3>Cancellation Policy</h3>
<p>All 2016 DLF Forum cancellations and requests for refunds must be made in writing. Please email your request to forum@diglib.org.</p>
<p class="p1">A full refund minus a $25 service fee is available until October 17. <strong>No refunds are available starting October 18.</strong>
</p>
<h3>Rates</h3>
<p>
  <em>DLF Forum <a href="https://web.archive.org/web/20170610011101/https://www.conftool.pro/dlf2016/">
      <strong>registration</strong>
    </a> includes three continental breakfasts, two hot lunches, frequent coffee breaks, and the conference reception.</em>
</p>
<p>DLF Member – $450<br>
Forum Presenter (members and non-members) – $450<br>
Non-Member – $750<br>
Student – $300 (a limited number will be available!)</p>
<p>Prices are in USD. A list of current DLF Members is <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/members/">here</a>.</p>
<h3>Additional Events</h3>
<p>See our <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/affiliated-events/">full list</a> of affiliated events for future updates.</p>
<ul>
  <li>
    <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/dlflac/">DLF Liberal Arts Colleges Pre-Conference (#dlfLAC)</a> – $50 <em>(includes a hot lunch and coffee breaks)</em>
  </li>
  <li>NDSA’s <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/ndsa-digipres16/">Digital Preservation 2016 (#digipres16)</a> – $200 <em>(includes continental breakfast, hot lunch, coffee breaks, and reception).</em> A limited number of student tickets ($150) will also be available.</li>
  <li>
    <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/ally-skills-workshop/">DLF Ally Skills Workshop</a> – $50 <em>(led by Bess Sadler and Mark Bussey, and sponsored by the DLF Project Managers Group)</em>
  </li>
  <li>
    <a href="https://web.archive.org/web/20170610011101/https://www.diglib.org/forums/2016forum/taiga-forum/">Taiga Forum</a> ($50 registration.)</li>
  <li>METS Board Meeting</li>
</ul>