---
title: Taiga Forum
layout: base
---

<p>
    <strong>
        Fundraising for 21st-century Academic Libraries: Tips and Strategies for Future Leaders</strong>
</p>
<p>
    The <a href="http://taiga-forum.org/">Taiga Forum</a>, held annually in conjunction with the <a href="/">DLF Forum</a>, is a place to facilitate a robust community of practice for academic library leaders who cross traditional organizational boundaries to focus on creating the future within our organizations. The 2016 event will be a conversation about how future library leaders can begin to cultivate the skills and knowledge necessary to fundraise successfully for 21st-century academic libraries.</p>
<p>
    Becoming an academic library leader today necessarily involves significant fundraising efforts. Often working in an environment of stagnating or shrinking budgets, academic library leaders must become their libraries’ best advocates as they strive to meet existing needs while simultaneously developing new programs, services and spaces. How can emerging library leaders begin to develop the skills and competencies needed to be successful fundraisers? How can library administrators in supporting roles, such as Department Heads, Associate Deans, and Associate University Librarians, assist their leaders in this critical area?</p>
<p>
    The Taiga Forum, following the DLF Forum in Milwaukee, will feature an expert speaker and open, honest discussion of challenges and approaches to these questions and others related to developing fundraising skills and competencies as an academic library leader. Come learn and share your own perspectives on how these issues are affecting you and your institutions.</p>
<p>
    <strong>Speakers:</strong> Daniel Petry (Development Director, Peck School of the Arts, University of Wisconsin-Milwaukee) and Susan Modder (Development Director, University of Wisconsin-Milwaukee Libraries)
</p>
<p>
<strong>Date and Time:</strong> 1-3pm, Wednesday, 9 November 2016. (The workshop will be held between the close of the DLF Forum and start of <a href="/ndsa-digipres16/">Digital Preservation 2016</a>.)
</p>
<p>
    <strong>Registration:</strong> $50 (including an afternoon snack). Register <a href="https://www.conftool.pro/dlf2016/">here</a>.
</p>