---
title: Visiting Milwaukee
layout: base
eleventyNavigation:
  key: Visiting Milwaukee
  order: 18
---

<div class="mb-5">
    {% image 'assets/images/5435541280_ebc44fa40a_b.jpg', 'Visiting Milwaukee', 'img-fluid' %}
</div>

<p>
    <em>This compendium of useful information is brought to you by local planning committee members Ann Hanlon, Treshani Perera, Anna Michelle Martinez-Montavon, Courtney Becks, Erin Pappas, Matt Roberts, and Beth Russell. (After looking at these great resources, you may also want to check out our sign up sheet for <a target="_blank" href="https://docs.google.com/spreadsheets/d/1DyIY9SobSV_h6Ys5Gl18utBY5eYpT4Y2Iw8kwuHaHcU/edit?gid=0#gid=0">Dine Arounds, Happy Hours, and Meetups</a>!)</em>
</p>

<h3>How do I get to the hotel?</h3>
<p>
    The Milwaukee Marathon is happening this weekend (November 5-6). While the hotel site is not affected by the marathon route, there will be some road closures in the surrounding area. 
    For those planning on taking the bus (Green Line or 80) from the Airport: there may be delays and/or detours, so plan accordingly. More information on MCTS re-routes and detours for the weekend can be found <a target="_blank" href="http://www.ridemcts.com/programs/service-alerts/milwaukee-running-festival-detours---november-6-(6-30-am)">here</a>. 
    If you’re driving to Milwaukee, you may want to avoid streets/areas included in the <a target="_blank" href="http://www.milwaukeerunningfestival.com/race-weekend-information.html">course map</a>.</p>
<p>
    MPTV, Milwaukee’s PBS affiliate, recently aired a feature on the hotel titled “Inside the Pfister”. You can watch the video of the feature <a target="_blank" href="http://www.pbs.org/video/2365614136/">here</a> if you’d like to know more information about the conference hotel.</p>
<h3>
   BUS FROM THE AIRPORT TO PFISTER
</h3>
<p>
    Milwaukee’s mass transit system (buses only) is the Milwaukee County Transit System. To take the bus from Mitchell International Airport to the Pfister Hotel, board the 
    <a target="_blank" href="http://www.ridemcts.com/routes-schedules/routes/GreenLine#Weekday">
        Green Line bus</a>
     at the Arrivals terminal outside baggage claim (look for signs for MCTS bus) and disembark at Water Street and Wisconsin Avenue. Walk north on Water Street toward Wisconsin Avenue. Turn right on Wisconsin, walk three short blocks to the hotel. The ride from airport to hotel is approximately 30-40 minutes. Buses leave every 15-20 minutes on weekdays and Saturdays, and every 30 minutes on Sundays. Fares are $2.25 per ride if paid with cash; $1.75 per ride if you use the MCard. You can 
    <a target="_blank" href="http://www.ridemcts.com/fares-passes/mcts-m-card/where-to-buy">
        buy an MCard</a>
     in baggage claim area #1 before boarding the bus. Apps for tracking buses and full MCTS schedule can be found on the 
    <a target="_blank" href="http://www.ridemcts.com/real-time-information/mcts-app-center">
        MCTS App Center</a>
    . Check the MCTS website to confirm routes, times, and fares. </p>
<p>
    <strong>
        All MCTS buses have accessibility features, including low-floor design and ramps. Stops are announced aloud, as well as displayed on signs within the bus. See the 
        <a target="_blank" href="http://www.ridemcts.com/how-to-ride/accessibility">
            MCTS Accessibility Features</a>
         and 
        <a target="_blank" href="http://www.ridemcts.com/how-to-ride/bus-stop-announcement-system">
            Bus Stop Announcement System</a>
         for more information. </strong>
</p>
<h3>
    OTHER GROUND TRANSPORTATION FROM THE AIRPORT
</h3>
<p>
    Milwaukee also has numerous taxis, Uber and Lyft services, and airport shuttles. The airport is approximately 8 miles south of the Pfister hotel. A taxi or car ride will take 16-20 minutes, via I-94, with light to medium traffic and no stops. More information about ground transportation from the airport is available here: 
    
        <a target="_blank" href="http://www.mitchellairport.com/ground-transportation">http://www.mitchellairport.com/ground-transportation/</a>.</p>
<h3>
    TRAVEL TO PFISTER FROM THE TRAIN STATION
</h3>
<p>
    Amtrak serves Milwaukee via the Hiawatha train service from Chicago, and the Empire Builder (via 
    St. Paul/Minneapolis – Spokane – Portland/Seattle) 
    from the west
    . The Amtrak arrives at the Milwaukee Intermodal station in downtown Milwaukee. The Pfister is five minutes by car from the train station. Taxi service is available outside the main door. The Pfister is approximately 20 minutes by foot – walk east on St. Paul Ave, cross the Milwaukee River and then turn north on Jefferson, walk 3 blocks north on Jefferson, and the hotel is at the corner of Jefferson St. and Wisconsin Ave. </p>
<h3>
    DRIVING DIRECTIONS AND PARKING AT THE HOTEL
</h3>
<p>
    <strong>
        The Pfister Hotel has its own information 
        <a target="_blank" href="http://www.thepfisterhotel.com/downtown-milwaukee-hotel">
            page</a>
         on driving directions and parking at the hotel. Address for GPS: 424 East Wisconsin Ave, Milwaukee, WI 53202.</strong>
</p>
<h3>What will the weather be like?</h3>
<p>
    The average temperature for early November in Milwaukee is about 44 degrees Fahrenheit, with lows in the lower 30s. We recommend sweaters, jackets and light winter coats and light scarves – especially in the evening – and possibly an umbrella, just in case.</p>
<p>
    We’re expecting beautiful weather this weekend (5-6 November, 60s and sunny) and next week (7-10 November, high 50s to low-to-mid 60s), and excited to welcome everyone to a perfect Wisconsin Fall! </p>
<h3>Where can I rent a bike?</h3>
<p>
    <b>Bublr Bikes: </b>
     There is a 
    <a target="_blank" href="https://bublrbikes.bcycle.com/station-locations/">
        Bublr Bike station</a>
     just across from the Pfister Hotel at 411 E. Wisconsin Avenue. You can rent a Bublr bike by paying with credit card at the Bublr Bike kiosk. Rates are $3 for 30 minutes, with other rates for all-day, as-you-go, etc. If you have an annual pass for a partner bike-share program in another city, you can use that pass for the Bublr Bikes! Check here to see if yours is a partner program: 
    
        <a target="_blank" href="http://bublrbikes.com/locations/other-cities">http://bublrbikes.com/locations/other-cities</a>.</p>
<h3>Where is the convenience/drug store?</h3>
<p>
    The 
    <i>
        Convenience Plus</i>
     convenience store is one block west of The Pfister, at 308 E. Wisconsin Ave, and carries toiletries, food, beer, wine, and liquor. </p>
<p>
    The 
    <i>
        Milwaukee Public Market</i>
     is approximately a 10-minute walk southwest of the hotel, and includes lots of local specialties – including beer, cheese, bratwurst, Bloody Mary’s, Milwaukee t-shirts, a popular fish restaurant, and more. Definitely worth a visit! At 400 N. Water Street:  
    
        <a target="_blank" href="http://www.milwaukeepublicmarket.org/main.html">http://www.milwaukeepublicmarket.org/main.html</a>.</p>
<p>
    <i>
        Walgreens</i>
     (275 West Wisconsin Avenue Shop #1108) at 
    <a target="_blank" href="http://grandavenueshops.com/store-directory/">
        <i>
            The Shops of Grand Avenue</i>
    </a>
    <i>
        . The Shops</i>
     is a downtown shopping mall with a variety of department stores, electronics stores, restaurants, souvenir shops, and even a bookstore. A 10-minute walk west of The Pfister.</p>
<h3>Is there urgent care nearby?</h3>
<p>
    <a target="_blank" href="http://www.columbia-stmarys.org/Urgent_Care">
        <b>Cathedral Square Express Care</b>
        <br>

    </a>
    734 N. Jackson St., Milwaukee<br>
    
    414-277-6500<br>
    
    Monday – Friday: 8 a.m. – 6 p.m.<br>
    
    Saturday, Sunday and Holidays: 8 a.m. – 4 p.m.<br>
    
    Open Holidays
</p>
<p>
    0.2 miles from The Pfister</p>
<h3>Where’s the beer? And the cheese? And the ice cream?</h3>
<p>
    <b>Breweries</b>
</p>
<ul>
    <li>

        <a target="_blank" href="http://www.lakefrontbrewery.com/">Lakefront Brewery</a>:
         Known especially for the Friday night polka and fish fry: 1.5 miles north of the Pfister</li>
    <li>
        <a target="_blank" href="http://mkebrewing.com/tours/">
            Milwaukee Brewing Company</a>
        : Tours and samples: 1.5 miles south of the Pfister</li>
    <li>
        <a target="_blank" href="http://brennerbrewing.com/">
            Brenner Brewing/Pitch Project Galleries</a>
        : Art-centered brewery – tours, tasting room, art gallery; 1.6 miles southwest of the Pfister</li>
    <li>
        <a target="_blank" href="http://www.millercoors.com/breweries/miller-brewing-company/tours">
            MillerCoors</a>
        : Historic brewery tours – 3 miles west of the Pfister</li>
    <li>
        <a target="_blank" href="http://www.greatlakesdistillery.com/">
            Great Lakes Distillery</a>
        : Not a brewery, but a fun tour. 1.5 miles southwest of the Pfister.</li>
</ul>
<p>
    <b>Cheese and Sausage</b>
</p>
<ul>
    <li>
        <a target="_blank" href="https://www.wisconsincheesemart.com/">
            Wisconsin Cheese Mart</a>
        : Cheese, like you asked. Less than one mile northwest of the Pfister</li>
    <li>
        <a target="_blank" href="https://www.usinger.com/visit-our-store">
            Usinger’s Store</a>
        : Sausage (and cheese). Less than one mile northwest of the Pfister</li>
    <li>
        <a target="_blank" href="http://www.clockshadowcreamery.com/">
            Clock Shadow Creamery</a>
        : Fresh cheese daily and cheese-making tours if you call in advance. 1.2 miles south of the Pfister. Pair your stop with the Milwaukee Brewing Company.</li>
</ul>
<p>
    <b>Ice Cream</b>
</p>
<ul>
    <li>
        <a target="_blank" href="http://www.purpledooricecream.com/">
            Purple Door Ice Cream</a>
        : Hand-crafted artisan ice cream in all your favorite flavors, plus the ones you’ve never tried before, like lemon cardamom, whiskey, horchata, and beer &amp; pretzels (this is Wisconsin, after all).</li>
</ul>
<h3>And the coffee?</h3>
<ul>
    <li>
        <a target="_blank" href="http://www.thepfisterhotel.com/milwaukee-restaurants/cafe-pfister">
            Cafe at the Pfister</a>
        : Coffee shop right in the Pfister hotel, serving pastries and a full breakfast menu, and Starbucks coffee</li>
    <li>
        <a target="_blank" href="http://colectivocoffee.com/">
            Colectivo Coffee</a>
        : Local coffee house and roaster with lots of 
        <a target="_blank" href="http://colectivocoffee.com/cafes/">
            locations</a>
        , including nearby in the historic 
        <a target="_blank" href="http://colectivocoffee.com/cafes/third-ward/">
            Third Ward</a>
        , and a gorgeous location on the 
        <a target="_blank" href="http://colectivocoffee.com/cafes/lakefront/">
            lakefront</a>
        . Also serves breakfast, pastries, and sandwiches</li>
    <li>
        <a target="_blank" href="https://anodynecoffee.com/">
            Anodyne Coffee</a>
        : Another local coffee house, roaster – and pizza place (Bay View location only) and spot for live music (Walker’s Point location). Nearby in the 
        <a target="_blank" href="https://anodynecoffee.com/publicmarket.php">
            Public Market</a>
         – coffee only; as well as coffee, craft beer, wine, and music at their location in 
        <a target="_blank" href="https://anodynecoffee.com/walkerspoint.php">
            Walker’s Point</a>
        , and some of the city’s 
        <a target="_blank" href="http://archive.jsonline.com/entertainment/dining/wood-fired-ovens-bring-heat-to-pizza-scene-b99483869z1-301073121.html">
            best reviewed pizza</a>
         at their southside location in 
        <a target="_blank" href="https://anodynecoffee.com/bayview.php">
            Bay View</a>
        .</li>
    <li>
        <a target="_blank" href="https://www.stonecreekcoffee.com/">
            Stone Creek Coffee</a>
        : Craft coffee roaster founded in 1993 in Milwaukee, with a slogan of “Farm to Cup.” Visit the 
        <a target="_blank" href="http://www.stonecreekcoffee.com/factory-cafe">
            Factory Cafe</a>
         or one of the spots in 
        <a target="_blank" href="http://www.stonecreekcoffee.com/grand-avenue">
            Grand Avenue Mall</a>
        , 
        <a target="_blank" href="https://www.stonecreekcoffee.com/radio-milwaukee">
            Radio Milwaukee</a>
        , or 
        <a target="_blank" href="https://www.stonecreekcoffee.com/bay-view">
            Bay View</a>
        .</li>
    <li>
        <a target="_blank" href="http://www.hospitalitydemocracy.com/holey-moley/">
            Holey Moley</a>
        : Milwaukee’s craft doughnut shop, with local brews from Valentine Coffee Roasters.</li>
    <li>
        <a target="_blank" href="http://www.rochambo.com/">
            Rochambo</a>
        : Hip coffee and tea house on Brady St. with a large selection of local and imported teas and organic coffee, as well as stronger drinks.</li>
</ul>
<h3>Restaurants near the Pfister</h3>
<ul>
    <li>
        <a target="_blank" href="http://amilinda.com/">
            Amalinda</a>
        : Spanish and Portuguese</li>
    <li>
        <a target="_blank" href="http://www.safe-house.com/">
            Safe House</a>
        : Spy-themed restaurant, hidden in an alley near the Pabst Theater</li>
    <li>
        <a target="_blank" href="http://zarletti.net/">
            Zarletti</a>
        : Italian</li>
    <li>
        <a target="_blank" href="http://www.milliokerestaurant.com/">
            Millioke</a>
        : Meat, cheese, beer</li>
    <li>
        <a target="_blank" href="http://www.hospitalitydemocracy.com/holey-moley/">
            Holey Moley</a>
        : Doughnuts</li>
    <li>
        <a target="_blank" href="http://www.alem-ethiopianvillage.com/">
            Alem Ethiopian Village</a>
        : Ethiopian cuisine</li>
    <li>
        <a target="_blank" href="http://www.getbianchini.com/cubanitas-restaurant.html">
            Cubanitas</a>
        : Mojitos and Cuban food</li>
    <li>
        <a target="_blank" href="http://www.masonstreetgrill.com/">
            Mason Street Grill</a>
        : Modern steakhouse at The Pfister with free live jazz</li>
    <li>
        <a target="_blank" href="http://www.carnevor.com/">
            Carnevor</a>
        : Upscale steakhouse</li>
</ul>
<p>
    <b>Third Ward (Five minute drive, 20-minute walk)</b>
</p>
<ul>
    <li>
        <a target="_blank" href="http://www.milwaukeepublicmarket.org/vendors.html">
            Milwaukee Public Market</a>
        : deli, confectionery, St. Paul’s fish company, Thief Wine Bar, Soup Market, and more.</li>
    <li>
        <a target="_blank" href="http://www.thewickedhop.com/">
            Wicked Hop</a>
        : Beer, brunch, lunch, dinner</li>
    <li>
        <a target="_blank" href="http://bavettelaboucherie.com/">
            Bavette La Boucherie</a>
        : Charcuterie, sandwiches, cocktails</li>
    <li>
        <a target="_blank" href="http://www.journeymanhotel.com/bars-downtown-milwaukee/">
            The Outsider Bar at the Journeyman Hote</a>
        l: Drinks with a view</li>
</ul>
<p>
    <b>Gluten-Free Friendly (with distance from the Pfister)</b>
</p>
<p>
    Many restaurants in Milwaukee can accommodate gluten-free requests – call ahead to ask.</p>
<ul>
    <li>

        <a target="_blank" href="http://www.cafebenelux.com/">Cafe Benelux</a> (0.4mi)</li>
    <li>

        <a target="_blank" href="http://stackedbar.com/">Stack’d Burger Bar</a> (0.9mi)</li>
    <li>

        <a target="_blank" href="http://wolf-peach.com/">Wolf Peach</a> (1.2 mi)</li>
    <li>

        <a target="_blank" href="http://belaircantina.com/">BelAir Cantina</a> (1.4mi)</li>
    <li>

        <a target="_blank" href="http://www.beansandbarley.com/">Beans &amp; Barley</a> (2mi)</li>
    <li>

        <a target="_blank" href="http://centrocaferiverwest.com/">Centro Cafe</a> (2.3mi)</li>
</ul>
<p>
    See also: Shepherd Express Best of Milwaukee 2015 
    <a target="_blank" href="http://shepherdexpress.com/article-27166-bom-winners-2015-dining-out.html">
        Dining</a>
</p>
<h3>Local Attractions</h3>
<ul>
    <li>

        <a target="_blank" href="http://www.travelwisconsin.com/article/things-to-do/milwaukees-waterfront-hotspots">Lake Michigan</a>
    </li>
    <li>
        <a target="_blank" href="https://mam.org/">
            Milwaukee Art Museum</a>
    </li>
    <li>
        <a target="_blank" href="https://www.mpm.edu/">
            Milwaukee Public Museum</a>
    </li>
    <li>
        <a target="_blank" href="http://www.discoveryworld.org/">
            Discovery World</a>
    </li>
    <li>

        <a target="_blank" href="http://www.roadsideamerica.com/story/18990">Bronze Fonz</a>
    </li>
    <li>
        <a target="_blank" href="http://www.harley-davidson.com/content/h-d/en_US/home/museum.html?hbx_camp_id=hdredirect&amp;urlvar=museum&amp;camp_id=16&amp;source_cd=Vanity_museum">
            Harley Davidson Museum</a>
    </li>
    <li>
        <a target="_blank" href="http://www.mpl.org/hours_locations/central.php">
            Milwaukee Public Library: Central Branch</a>
    </li>
</ul>
<h3>Urban Trails</h3>
<ul>
    <li>
        <a target="_blank" href="http://city.milwaukee.gov/RiverWalk.htm#.V_gTe8m1VHU">
            Riverwalk</a>
        : A partnership between the City and riverfront property owners to provide public access to the river. The paved trail extends throughout Downtown and the Third Ward.</li>
    <li>

        <a target="_blank" href="http://county.milwaukee.gov/OakLeafTrail8289.htm">Oak Leaf Trail</a>: A paved multi-use trail that connects all of the major parks in the Milwaukee County Park System. The closest segment to the Pfister can be found near the Milwaukee Art Museum.</li>
    <li>

        <a target="_blank" href="http://city.milwaukee.gov/mpw/infrastructure/Milwaukee-by-Bike/Bike-Facilities/Trails/Beerline-B-Trail.htm#.V_4-85MrK1c">Beerline Trail</a>: This paved trail runs north to south along the western side of the Milwaukee River. Begins at Pleasant St., just north of Downtown.</li>
</ul>
<h3>Friends of Bill W.</h3>
<p>
    <a target="_blank" href="http://www.aamilwaukee.com/">
        See here</a>
     for a 24-hour hotline and directory of meetings. </p>

<h3>Exploring Milwaukee Further</h3>

<p>
    For more information about things to do in Milwaukee, check out the 
    <a target="_blank" href="http://www.visitmilwaukee.org/">VISIT Milwaukee</a> website.
</p>